<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Page</title>
    <!-- http://localhost:9090/css/home.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<style>
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;

</style>
<body>
<div style="background-color: rgb(202, 145, 233); border-bottom: 3px solid white; align-content: stretch">
    <h1 style="text-align: center; color: rgb(13, 99, 98); padding-top: 50px">Merhaba, </h1>
    <h1 th:text="${model.username}" style="text-align: center; color: rgb(13, 99, 98); padding-bottom: 50px"></h1>
</div>
<div class="container-fluid" onload="getPics()" style="background-color: rgb(58, 43, 67); align-items: center; padding: 30px">

    <div class="row gallery" style="justify-content: center">

        <img th:src="${model.picture1}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture2}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture3}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture4}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture5}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture6}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture7}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture8}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture9}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture10}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture11}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>
        <img th:src="${model.picture12}" class="avatar" style="background-color: white; width: 300px; height: 300px; border: 5px solid black; border-radius: 20px; margin: 50px"/>

    </div>
</div>
<div id="fullpage" onclick="this.style.display='none';"></div>
<script>
    function getPics() {} //just for this demo
    const imgs = document.querySelectorAll('.gallery img');
    const fullPage = document.querySelector('#fullpage');

    imgs.forEach(img => {
    img.addEventListener('click', function() {
    fullPage.style.backgroundImage = 'url(' + img.src + ')';
    fullPage.style.display = 'block';
  });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>